.box{
    width: 180px;
    height: 100vh;
    background-color: #000103;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    overflow: hidden;
}

.active{
    -webkit-app-region: drag;
    display: flex;
    justify-content: left;
    align-items: center;
}

.title{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.ing {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.time{
    font-size: 12px;
    font-weight: bold;
}

.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 180px;
    background-color: #1F1F1F;
    cursor: pointer;
}
.my-button{
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.my-button:hover{
    background-color: #000103;
}

.button-one{
    background-image: url("./img/1.png");
}

.button-two{
    background-image: url("./img/2.png");
}

.button-three{
    background-image: url("./img/3.png");
}

.menu{
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-image: url("./img/5.png");
    padding-right: 20px;
    margin-right: 5px;
}